<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Minimum requirements</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=562>
<meta name=layout-width content=613>


<!--(Links)=========================================================-->

<link rel="stylesheet" href="default_ns.css">



<!--(Style Sheets)==================================================-->

<style>
<!--

table.whs1 {
	x-cell-content-align: top;
	float: aligncenter;
	width: 90%;
	border-spacing: 0px;
}

col.whs2 {
	width: 6.232%;
}

col.whs3 {
	width: 93.768%;
}

tr.whs4 {
	x-cell-content-align: top;
	height: 23px;
}

td.whs5 {
	width: 6.232%;
	padding-right: 0px;
	padding-left: 0px;
	background-color: #000000;
	border-bottom-style: Solid;
	border-bottom-width: 2px;
}

img\005fwhs6 {
	border: none;
	width: 38px;
	height: 22px;
	float: none;
	border-style: none;
}

td.whs7 {
	width: 93.768%;
	padding-right: 10px;
	padding-left: 10px;
	x-cell-content-align: center;
	border-bottom-style: Solid;
	border-bottom-width: 2px;
	background-color: #000000;
}

p.whs8 {
	font-size: 12pt;
	font-weight: bold;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-p-Cwhs8 {
	font-size: 12pt;
	font-weight: bold;
}
/*}}end!kadov=======================================================*/ 



col.whs9 {
	width: 100%;
}

tr.whs10 {
	x-cell-content-align: top;
	height: 95px;
}

td.whs11 {
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #2874c7;
}

p.whs12 {
	font-family: Tahoma, sans-serif;
	color: #ffffff;
	font-size: 10pt;
	font-weight: normal;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-p-Cwhs12 {
	font-family: Tahoma, sans-serif;
	color: #ffffff;
	font-size: 10pt;
	font-weight: normal;
}
/*}}end!kadov=======================================================*/ 



p.whs13 {
	font-family: Tahoma, sans-serif;
	color: #ffffff;
	font-size: 10pt;
	font-weight: bold;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-p-Cwhs13 {
	font-family: Tahoma, sans-serif;
	color: #ffffff;
	font-size: 10pt;
	font-weight: bold;
}
/*}}end!kadov=======================================================*/ 



tr.whs14 {
	x-cell-content-align: top;
	height: 30px;
}

td.whs15 {
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #2874c7;
	x-cell-content-align: center;
}

table.whs16 {
	x-cell-content-align: top;
	width: 100%;
	border-spacing: 0px;
}

col.whs17 {
	width: 6.125%;
}

col.whs18 {
	width: 93.875%;
}

tr.whs19 {
	x-cell-content-align: top;
}

td.whs20 {
	width: 6.125%;
	border-left-width: 1px;
	border-left-color: #000000;
	border-top-color: #000000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	padding-right: 10px;
	padding-left: 10px;
	x-cell-content-align: center;
}

img\005fwhs21 {
	border: none;
	width: 13px;
	height: 18px;
	float: none;
	border-style: none;
}

td.whs22 {
	width: 93.875%;
	border-top-style: None;
	border-top-color: #000000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: None;
	border-bottom-style: None;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	padding-right: 10px;
	padding-left: 10px;
	x-cell-content-align: center;
}

-->
</style>

<style>
<!--

div.WebHelpPopupMenu {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 4;
	visibility: hidden;
}

-->
</style>

<!--(Scripts)=======================================================-->

<script type="text/javascript"
		language=JavaScript
		title=WebHelpSplitCss><!--
if (navigator.appName !="Netscape")
{   document.write("<link rel='stylesheet' href='default.css'>");}
//--></script>

<script type="text/javascript"
		language=JavaScript
		title=WebHelpInlineScript><!--
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//--></script>

<script type="text/javascript"
		language=javascript1.2
		src="whmsg.js"></script>

<script type="text/javascript"
		language=javascript
		src="whver.js"></script>

<script type="text/javascript"
		language=javascript1.2
		src="whproxy.js"></script>

<script type="text/javascript"
		language=javascript1.2
		src="whutils.js"></script>

<script type="text/javascript"
		language=javascript1.2
		src="whtopic.js"></script>

</head>

<!--(Body)==========================================================-->


<body>

<script type="text/javascript"
		language=javascript1.2><!--
if (window.gbWhTopic)
{
	if (window.addTocInfo)
	{
	addTocInfo("Stappen voor het oplossen van problemen\nMinimale Systeemeisen");
addButton("show",BTN_TEXT,"Weergeven","","","","",0,0,"","","");

	}
	if (window.writeBtnStyle)
		writeBtnStyle();

	if (window.writeIntopicBar)
		writeIntopicBar(1);

	if (window.setRelStartPage)
	{
	setRelStartPage("EA_Help_NL.htm");

		autoSync(1);
		sendSyncInfo();
		sendAveInfoOut();
	}
}
else
	if (window.gbIE4)
		document.location.reload();
//--></script>


<p>&nbsp;</p>

<div style="text-align: center;"
	align=center>
<!--(Table)=========================================================-->
<!--begin!kadov{{--><div align=center><!--}}end!kadov-->
<table x-use-null-cells
		class=whs1
		style="width: 90%;
				border-spacing: 0px;
				border-spacing: 0px;"
		cellspacing=0
		width=90%>
<col class=whs2>
<col class=whs3>

<tr class=whs4
	style="x-cell-content-align: top;"
	valign=top>
<td colspan=1
	rowspan=1
	class=whs5
	style="background-color: #000000; width: 6.232%;"
	bgcolor=#000000
	width=6.232%>
<p><img src="badge.gif"
		x-maintain-ratio=TRUE
		class=img_whs6
		style="width: 38px;
				height: 22px;
				border-style: none;
				border-style: none;"
		width=38
		height=22
		border=0></td>
<td class=whs7
	style="background-color: #000000;
			x-cell-content-align: center;
			width: 93.768%;"
	valign=middle
	bgcolor=#000000
	width=93.768%>
<p class=whs8>Minimale Systeemeisen </td></tr>
</table>
<!--begin!kadov{{--></div><!--}}end!kadov-->
</div>

<div style="text-align: center;"
	align=center>
<!--(Table)=========================================================-->
<!--begin!kadov{{--><div align=center><!--}}end!kadov-->
<table x-use-null-cells
		class=whs1
		style="width: 90%;
				border-spacing: 0px;
				border-spacing: 0px;"
		cellspacing=0
		width=90%>
<col class=whs9>

<tr class=whs10
	style="x-cell-content-align: top;"
	valign=top>
<td colspan=1
	rowspan=1
	class=whs11
	style="background-color: #2874C7; width: 100%;"
	bgcolor=#2874C7
	width=100%>
<p class=whs12>&nbsp;</p>
<p class=whs13>Minimale Systeemeisen &nbsp;</p>
<p class=whs13>&nbsp;</p>
<p class=whs12>De minimale systeemeisen staan meestal onder op de doos. 
 Als je besturingssysteem er niet bij staat, kan het zijn dat het niet 
 wordt ondersteund. &nbsp;</td></tr>

<tr class=whs14
	style="x-cell-content-align: top;"
	valign=top>
<td class=whs15
	style="background-color: #2874C7;
			x-cell-content-align: center;
			width: 100%;"
	valign=middle
	bgcolor=#2874C7
	width=100%>
<p>&nbsp;</p>
<!--(Table)=========================================================-->
<table x-use-null-cells
		class=whs16
		style="width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;"
		cellspacing=0
		width=100%>
<col class=whs17>
<col class=whs18>

<tr class=whs19
	style="x-cell-content-align: top;"
	valign=top>
<td class=whs20
	style="x-cell-content-align: center; width: 6.125%;"
	valign=middle
	width=6.125%>
<p><img src="check.jpg"
		x-maintain-ratio=TRUE
		class=img_whs21
		style="width: 13px;
				height: 18px;
				border-style: none;
				border-style: none;"
		width=13
		height=18
		border=0></td>
<td class=whs22
	style="x-cell-content-align: center; width: 93.875%;"
	valign=middle
	width=93.875%>
<form>
Om te controleren of je computer voldoet aan de minimale systeemeisen:

<!--begin!kadov{{--><br><!--}}end!kadov--><!--kadov_tag{{<implicit_p>}}-->&nbsp;
</form>
&nbsp;
<p>1. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Klik 
 met de linkermuisknop op Start.</p>
<p>2. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Klik 
 met de linkermuisknop op Uitvoeren.</p>
<p>3. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Typ 
 DXDIAG in het invoervenster.</p>
<p>4. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Klik 
 op OK.</td></tr>

<p>&nbsp;</p>
</table>
<p>&nbsp;</td></tr>
</table>
<!--begin!kadov{{--></div><!--}}end!kadov-->
</div>

<p>&nbsp;</p>

<p>&nbsp;</p>

<script type="text/javascript"
		language=javascript1.2><!--
if (window.writeIntopicBar)
	writeIntopicBar(0);
//--></script>

</body>

</html>
