<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<head>
<title>Warranty</title>
<meta http-equiv="content-type" content="text/html; charset=windows-1252">
<meta name="generator" content="RoboHelp by eHelp Corporation www.ehelp.com">
<link rel="stylesheet" href="default_ns.css"><script type="text/javascript" language="JavaScript" title="WebHelpSplitCss">
<!--
if (navigator.appName !="Netscape")
{   document.write("<link rel='stylesheet' href='default.css'>");}
//-->
</script>
<style type="text/css">
<!--
table.whs1 { x-cell-content-align:top; float:aligncenter; width:90%; border-spacing:0px; }
col.whs2 { width:6.232%; }
col.whs3 { width:93.768%; }
tr.whs4 { x-cell-content-align:top; height:23px; }
td.whs5 { width:6.232%; padding-right:0px; padding-left:0px; background-color:#000000; border-bottom-style:Solid; border-bottom-width:2px; }
img_whs6 { border:none; width:38px; height:22px; float:none; border-style:none; }
td.whs7 { width:93.768%; padding-right:10px; padding-left:10px; x-cell-content-align:center; border-bottom-style:Solid; border-bottom-width:2px; background-color:#000000; }
p.whs8 { font-size:12pt; font-weight:bold; }
col.whs9 { width:100%; }
tr.whs10 { x-cell-content-align:top; height:374px; }
td.whs11 { width:100%; padding-right:10px; padding-left:10px; background-color:#2874c7; }
p.whs12 { font-family:Tahoma, sans-serif; color:#ffffff; font-size:10pt; font-weight:normal; }
p.whs13 { font-family:Tahoma, sans-serif; color:#ffffff; font-size:10pt; font-weight:normal; x-text-underline:Off; text-decoration:none; }
hr.whs14 { float:aligncenter; width:50%; }
p.whs15 { font-family:Tahoma, sans-serif; color:#ffffff; font-size:10pt; x-text-underline:Off; font-weight:bold; text-decoration:none; }
-->
</style><script type="text/javascript" language="JavaScript" title="WebHelpInlineScript">
<!--
function reDo() {
  if (innerWidth != origWidth || innerHeight != origHeight)
     location.reload();
}
if ((parseInt(navigator.appVersion) == 4) && (navigator.appName == "Netscape")) {
	origWidth = innerWidth;
	origHeight = innerHeight;
	onresize = reDo;
}
onerror = null; 
//-->
</script>
<style type="text/css">
<!--
div.WebHelpPopupMenu { position:absolute; left:0px; top:0px; z-index:4; visibility:hidden; }
-->
</style><script type="text/javascript" language="javascript1.2" src="whmsg.js"></script>
<script type="text/javascript" language="javascript" src="whver.js"></script>
<script type="text/javascript" language="javascript1.2" src="whproxy.js"></script>
<script type="text/javascript" language="javascript1.2" src="whutils.js"></script>
<script type="text/javascript" language="javascript1.2" src="whtopic.js"></script>
</head>
<body><script type="text/javascript" language="javascript1.2">
<!--
if (window.gbWhTopic)
{
	if (window.addTocInfo)
	{
	addTocInfo("Garantie");
addButton("show",BTN_TEXT,"Weergeven","","","","",0,0,"","","");

	}
	if (window.writeBtnStyle)
		writeBtnStyle();

	if (window.writeIntopicBar)
		writeIntopicBar(1);

	if (window.setRelStartPage)
	{
	setRelStartPage("EA_Help_NL.htm");

		autoSync(1);
		sendSyncInfo();
		sendAveInfoOut();
	}
}
else
	if (window.gbIE4)
		document.location.reload();
//-->
</script>
<p>&nbsp;</p>

<div align=center>
<table x-use-null-cells cellspacing="0" width="90%" class="whs1">
<col class="whs2">
<col class="whs3">

<tr valign="top" class="whs4">
<td colspan="1" rowspan="1" bgcolor="#000000" width="6.232%" class="whs5">
<p><img src="badge.gif" x-maintain-ratio="TRUE" width="38px" height="22px" border="0" class="img_whs6"></td>
<td bgcolor="#000000" valign="middle" width="93.768%" class="whs7">
<p class="whs8">Garantie</td></tr>
</table>
</div>
<div align=center>
<table x-use-null-cells cellspacing="0" width="90%" class="whs1">
<col class="whs9">

<tr valign="top" class="whs10">
<td bgcolor="#2874C7" width="100%" class="whs11">
<p class="whs12">&nbsp;</p>
<p class="whs13">Indien 
 de cd defect, gebarsten is of het op meerdere computers niet doet (na 
 dit uitgeprobeerd te hebben), kunt u gebruik maken van onze retouroptie. 
 U dient het gehele pakket, inclusief cd en doosje, met daarbij 5 euro 
 ingesloten (t.b.v. administratie- en verzendkosten) naar ons adres op 
 Schiphol toe te sturen. U krijgt dan zo snel mogelijk een nieuw exemplaar.</p>
<p class="whs13">&nbsp;</p>

<hr align="center" width="50%" class="whs14">

<p class="whs13">&nbsp;</p>
<p class="whs13">ADRES:</p>
<p class="whs13">&nbsp;</p>
<p class="whs13"><span 
 style="font-family: Tahoma, sans-serif;
		color: #ffffff;
		font-size: 10pt;
		font-weight: normal;
		x-text-underline: Off;
		/*begin!kadov{{*/ text-decoration: none; /*}}end!kadov*/ "><font size=2 color=white style="font-size:10.000000pt;">Electronic 
 Arts Benelux</font></span></p>
<p class="whs13">Customer 
 Support</p>
<p class="whs13">Postbus 
 75756</p>
<p class="whs13">1118 
 ZX Schiphol-Triport</p>
<p class="whs13">Nederland</p>
<p class="whs13">&nbsp;</p>
<p class="whs15">Telefoonnummer 
 Customer Support: +31 (0)20 658 99 88 </p>
<p class="whs13">&nbsp;</p>
<p class="whs13">Dit 
 telefoonnummer is te bereiken op werkdagen van 10:00 tot 12:00 en van 
 13:00 tot 18:00.</p>
<p class="whs13">&nbsp;</p>
<p class="whs13">Je 
 kunt ons ook bereiken per e-mail op onderstaand e-mail adres:</p>
<p class="whs13"><a 
 href="mailto:nl-support@ea.com">nl-support@ea.com</a></p>
<p class="whs13">&nbsp;</td></tr>
</table>
</div>
<p>&nbsp;</p>

<script type="text/javascript" language="javascript1.2">
<!--
if (window.writeIntopicBar)
	writeIntopicBar(0);
//-->
</script>
</body>
</html>
